#home_carousel {
	height: 600px; 
}

.carousel-inner, .carousel-item {
	height: 100%;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-caption{
    color: rgb(11, 0, 17);
	font-weight: bold;
	font-size: 22px;
}

.carousel-caption h5{
    color: rgb(11, 0, 17);
	font-weight: bold;
	font-size: 30px;
}