<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EduAI</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<header class="p-3 text-bg-dark">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
					<li><a href="/noteGenerator" class="nav-link px-2 text-white">Note-Maker</a></li>
					<li><a href="/quizMaker" class="nav-link px-2 text-white">Quiz-Maker</a></li>
					<li><a href="/derivativeCalculator" class="nav-link px-2 text-white">Math Solver</a></li>
				</ul>

				<div class="text-end">
					<button onclick= "location.href='/my_notes'" type="button" class="btn btn-outline-light me-2">My Notes</button>
				</div>

				<div class="text-end">
					<button onclick= "location.href='/my_quizzes'" type="button" class="btn btn-outline-light me-2">My Quizzes</button>
				</div>

				{% if session.get('user') %}
					<div class="text-end">
						<button onclick= "location.href='/logout'" type="button" class="btn btn-outline-light me-2">Logout</button>
					</div>
				{% else %}
					<div class="text-end">
						<button onclick= "location.href='/login'" type="button" class="btn btn-outline-light me-2">Login</button>
					</div>
				{% endif %}
			</div>
		</div>
	</header>

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center mt-5">Derivative Calculator</h1>
				<p class="text-center">A simple way to compute derivatives (experimental)</p>
				<div class="card mt-5">
					<div class="card-body">
						<h5 class="card-title">Example</h5>
						<p class="card-text">Prompt: Find the first derivative of -2523005*m**3 - 3537820. </p>
						<p class="card-text">Output: -7569015*m**2 </p>
					</div>
				</div>
			</div>
		</div>

		<div class="row my-5 justify-content-center">
			<div class="col-lg-6 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<p class="text-center">Compute Derivatives Below!</p>
						<form id="derivative_form">
							<div class="form-group">
								<label for="equation">Equation:</label>
								<input type="text" class="form-control" id="equation" aria-describedby="equation_tip"
									placeholder="Equation">
								<small id="equation_tip" class="form-text text-muted mt-2">Format your equation like the example prompt!</small>
								<select class="form-select mt-2" id="order" aria-label="Default select example">
									<option selected>Select an order of derivative!</option>
									<option value="first">first</option>
									<option value="second">second</option>
									<option value="third">third</option>
								</select>
							</div>
							<button id="url_submit" type="submit" class="btn btn-primary mt-2">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h3 class="card-title text-center">Your Output</h3>
						<p id="generated_text" class="card-text text-center"></p>
					</div>
				</div>
			</div>
		</div>

	</div>
	</form>

	<script src="{{ url_for('static', filename='reroute_derivative.js') }}"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>